{% extends "sablona.html" %}

{% block podnazev %}
Přehled čekajících 
{% endblock %}

{% block obsah_stranky %}
<h2>Seznam klientů čekající na vyšetření</h2>
<form action="/cekajici" method="POST">
    <table>
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Krevní skupina</th>
                <th>Rh faktor</th>
            </tr>
        </thead>
        <tbody>
            {% for xko in Jednotka %}

                <tr>
                    <td>{{ xko.jmeno }}</td>
                    <td>{{ xko.prijmeni }}</td>
                    <td>{{ xko.skupina }}</td>
                    <td>{{ xko.rh_fakt }}</td>
                    <td><button type="submit" name="{{ xko }}">Vyšetřit</button></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
  
</form>

{% if vzkaz %}
<p style="color:green">{{ vzkaz }}</p>
{% endif %}

{% endblock %}