{% extends "sablona.html" %}

{% block podnazev %}
Produkce 
{% endblock %}

{% block obsah_stranky %}
<h2>Zadej odběr</h2>

    <form action="/produkce" method="POST">
   
    <table class="inputni"><tr>
        <td><label for="jmeno">Jméno dárce: </label></td>
        <td><input type="text" name="jmeno" placeholder="Jméno" required></td>
    </tr>
    </tr>
        <td><label for="nazev">Příjmení dárce: </label></td>
        <td><input type="text" name="prijmeni" placeholder="Příjmení" required></td>
    </tr>
    </tr>
        <td><label for="telefon">Telefon: </label></td>
        <td><input type="number" name="telefon" placeholder="Telefon" required></td>
    </tr>
    
    <tr>
        <td><label for="skupina">Krevní skupina: </label></td>
        <td><select name="skupina">
            <option value="0">0</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="rh_fakt">Rh faktor: </label></td>
        <td><select name="rh_fakt">
            <option value="negativní">negativní</option>
            <option value="pozitivní">pozitivní</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="typ_odberu">Typ odběru: </label></td>
        <td><select name="typ_odberu">
            <option value="Plná krev">Plná krev</option>
            <option value="Plazma">Plazma</option>
            <option value="Destičky">Krevní destičky</option>
            <option alue="Kostní dřeň">Kostní dřeň</option>
            </select>
        </td>
    </tr> 
    <tr>
        <td><button type="submit" class="formu">Vlož záznam</button></td>
    </tr>        

        

</form>
</table>
{% if vzkaz %}
<p style="color:green">{{ vzkaz }}</p>
{% endif %}

{% endblock %}